@import 'nib'
@import '/client/styles/*.import'

form
  >span.input
    >input
      padding .4em .25em
      width 100%
      background transparent
      color textColor
      font-size 1.55em

    >label
      position absolute
      width 100%
      text-align left
      pointer-events none

      >span
        transition transform defaultTransitionValue

      &::before, &::after
        content ''
        position absolute
        left 0
        z-index -1
        size 100% 3px
        background brandColor
        transition transform defaultTransitionValue
      &::before
        top 0
      &::after
        bottom -1px

    >input:focus, >input.filled
      +label
        >span
          transform translate3d(0, -90%, 0)
        &::before
          transform translate3d(0, -.5em, 0)
        &::after
          transform translate3d(0, .5em, 0)
