@import 'client/styles/*.import'
@import s(basePath, input)

article[data-role='textInputs']
  figure
    cpInput(bgColor, textColor, brandColor)
    &[data-role='jiro']
      cpInputJiro(textColor, brandColor)
    &[data-role='haruki']
      padding-top 3em
      cpInputHaruki(textColor, brandColor)
    &[data-role='hoshi']
      cpInputHoshi(brandColor)
    &[data-role='yoko']
      cpInputYoko(bgColor, brandColor)

@import s(basePath, buttonSmall)
@import s(basePath, buttonCreative)
@import s(basePath, buttonInspiration)

article[data-role='buttons']
  figure[data-role='small']
    cpButtonSmall(brandColor)
    &[data-content='boris']
      cpButtonSmallBoris(brandColor)
    &[data-content='ivana']
      cpButtonSmallIvana(brandColor)
  figure[data-role='creative']
    cpButtonCreative(bgColor, brandColor)
    &[data-content='round']
      cpButtonCreativeRound(bgColor)
    &[data-content='roundwhiten']
      cpButtonCreativeRoundWhiten(brandColor)
    &[data-content='vertical']
      cpButtonCreativeVertical(brandColor)
  figure[data-role='inspiration']
    cpButtonInspiration(brandColor)
    &[data-content='tamaya']
      cpButtonInspirationTamaya(brandColor)
    &[data-content='ujarak']
      cpButtonInspirationUjarak(bgColor, brandColor)
    &[data-content='winoma']
      cpButtonInspirationWinoma(bgColor, brandColor)

@import s(basePath, checkbox)

article[data-role='checkbox']
  figure
    cpCheckbox(bgColor, brandSuccess, brandDanger, brandColor)
    span.checkbox
      width 150px

@import s(basePath, selectCustom)

article[data-role='select']
  figure
    display flex
    cpSelectCustom(bgColor, brandColor)
