@import 'nib'
@import '/client/styles/*.import'

button.small
  &::after
    background rgba(lighten(brandColor, 30%), .5)

  &.clicked::after
    animation button-small-boris .3s ease-out forwards

@keyframes button-small-boris
  0%
    transform scale3d(.3, .3, 1)
  25%, 50%
    opacity 1
  to
    opacity 0
    transform scale3d(1.2, 1.2, 1)
