@import 'nib'
@import '/client/styles/*.import'

button.small
  &::before
    absolute top 50% left 50%
    size buttonSmallSize
    margin (-(buttonSmallSize/2)) 0 0 (-(buttonSmallSize/2))
    border-radius 50%
    content ''
    opacity 0
    pointer-events none

  &::before, &::after
    box-shadow 0 0 0 2px rgba(lighten(brandColor, 30%), .8)
  &.clicked::before
    animation button-small-ivana1 .5s forwards
  &.clicked::after
    animation button-small-ivana2 .5s forwards

@keyframes button-small-ivana1
  0%
    opacity 1
    transform scale3d(.3, .3, 1)
  100%
    opacity 0
    transform scale3d(.8, .8, 1)

@keyframes button-small-ivana2
  0%
    opacity 1
    transform scale3d(.3, .3, 1)
  50, 100%
    opacity 0
    transform scale3d(2, 2, 1)
