nav
  ul
    li: a(href='/') Home
    li: a(href='/iron-router') Iron router
    //li: a(href='/animations') Animations
    li: a(href='/links') Liens
    li: a(href='/text-inputs') Text inputs
    li: a(href='/buttons') Buttons
    //li: a(href='/select') Select
    //li: a(href='/recipes') Recipes
    
