@import 'client/styles/*.import'
@import s(basePath, links)

nav
  background rgba(blackBg, .9)
  fixed top left
  height 3.2em
  width 100%
  z-index 100
  box-shadow 0 3px 3px rgba(black, .3)
  ul
    inline-list()
    padding 1em
    display flex
    justify-content space-between
    li
      cpLinks(brandColor)
      a  
        font-weight 100
        font-family secondFont
        color white
