@import 'jeet'
@import 'client/styles/*.import'

nav
  background dimgray
  fixed top left
  height 3em
  width 100%
  z-index 3
  ul
    inline-list()
    center(maxSize)
    padding 1em
    display flex
    justify-content space-between
    li
      text-align center
      flex-grow 1
      a
        color gray
