@import 'jeet'
@import 'client/styles/*.import'

nav
  background dimgray
  fixed top left
  height 3em
  padding 1em
  width 100%
  z-index 3
  ul
    inline-list()
    center(maxSize)
    display flex
    justify-content space-between
    li
      flex-grow 1
