article(data-role='iron-router')
  h1 Iron router
  p Installation
  pre: code.bash.
    meteor add iron:router multiply:iron-router-progress
  p Usage in <b>Stylus</b>
  pre: code.stylus.
    @import s(basePath, ironprogress)
