@import 'nib'
@import '/client/styles/*.import'

button.inspiration
  overflow hidden
  color brandColor
  border-color brandColor

  &::before, &::after
    content attr(data-text)
    position absolute
    left 0
    size 100% 50%
    background lighten(brandColor, 40%)
    overflow hidden
    transition transform defaultTransitionValue
  &::before
    top 0
    padding-top 1em
  &::after
    bottom 0
    line-height 0
  >span
    display block
    transform scale3d(.2, .2, 1)
    opacity 0
    transition transform defaultTransitionValue, opacity defaultTransitionValue
  &.clicked
    &::before
      transform translate3d(0, -100%, 0)
    &::after
      transform translate3d(0, 100%, 0)
    >span
      opacity 1
      transform scale3d(1, 1, 1)
