@import 'nib'
@import '/client/styles/*.import'

button.inspiration
  &::before
    content ''
    absolute top left
    size 100%
    background rgba(brandColor, .7)
    z-index -1
    opacity 0
    transform scale3d(.7, 1, 1)
    transition transform defaultTransitionValue, opacity defaultTransitionValue
    border-radius roundCorner
  &.clicked
    color bgColor
    border-color darken(brandColor, 30%)
    &::before
      opacity 1
      transform translate3d(0, 0, 0)
