@import 'nib'
@import '/client/styles/*.import'

button.inspiration
  overflow hidden
  padding 0
  transition border-color defaultTransitionValue, background-color defaultTransitionValue
  &::after
    content attr(data-text)
    absolute top left
    size 100%
    opacity 0
    color bgColor
    transform translate3d(0, 25%, 0)
  >span
    display block
  &::after, >span
    padding 1em 2em
    transition transform defaultTransitionValue, opacity defaultTransitionValue
  &.clicked
    border-color darken(brandColor, 30%)
    background-color brandColor
    &::after
      opacity 1
      transform translate3d(0, 0, 0)
    >span
      opacity 0
      transform translate3d(0, -25%, 0)
