@import 'client/styles/*.import'
@import s(basePath, checkbox)
@import s(basePath, selectCustom)
@import s(basePath, dotStyle)
@import s(basePath, goo)

article[data-role='goo']
  figure
    text-align center
    .menu
      cpGoo()
      display inline-block
      size 25em 4em
      padding .5em
      //background green
    .item
      margin 0 .7em
      size 3em
      border-radius 50%
      background brandColor
      display inline-block
      transition background-color defaultTransitionValue
      relative top left
      animation anim-plus 2s linear infinite alternate
      z-index 1
      >span
        text-align center
        margin-top 1em
        size @width 1em
        color bgColor
        transition color defaultTransitionValue
      &:hover
        background darken(brandColor, 20%)
        >span
          color lighten(bgColor, 20%)
      &.twitter
        animation-name anim-twitter
      &.facebook
        animation-name anim-facebook
      &.weibo
        animation-name anim-weibo
      &.pinterest
        animation-name anim-pinterest
      &.plus
        z-index 3
@keyframes anim-twitter
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(4.2em, 0, 0)
  to
    transform translate3d(8.5em, 0, 0)
@keyframes anim-facebook
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(4.2em, 0, 0)
  to
    transform translate3d(4.2em, 0, 0)
@keyframes anim-weibo
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(-4.2em, 0, 0)
  to
    transform translate3d(-4.2em, 0, 0)
@keyframes anim-pinterest
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(-4.2em, 0, 0)
  to
    transform translate3d(-8.5em, 0, 0)
@keyframes anim-plus
  0%
    transform rotateZ(45deg)
  90%
    transform rotateZ(45deg)
  to
    transform none

article[data-role='checkbox']
  figure
    cpCheckbox(bgColor, brandSuccess, brandDanger, brandColor)
    span.checkbox
      width 150px

article[data-role='select']
  figure
    display flex
    cpSelectCustom(bgColor, brandColor)

article[data-role='dot-style']
  figure
    background brandDanger
    cpDotStyle(bgColor)
    text-align center
    ul
    p
      margin-top 0
      color bgColor
    &.fillup
      cpDotStyleFillup(brandColor, bgColor)
    &.scaleup
      cpDotStyleScaleup(brandColor, bgColor)
    &.stroke
      cpDotStyleStroke(brandColor, bgColor)
