@import 'client/styles/*.import'
@import s(basePath, links)
@import s(basePath, checkbox)
@import s(basePath, selectCustom)

article[data-role='links']
  ul
    inline-list()
    display flex
    justify-content space-between
    >li:nth-child(2)
      cpLinks(brandInfo)
    >li:nth-child(3)
      cpLinks(brandSuccess)
    >li:nth-child(4)
      cpLinks(brandWarning)
    >li:nth-child(5)
      cpLinks(brandDanger)
    >li:nth-child(6)
      cpLinks(violet)

article[data-role='checkbox']
  figure
    cpCheckbox(bgColor, brandSuccess, brandDanger, brandColor)
    span.checkbox
      width 150px

article[data-role='select']
  figure
    display flex
    cpSelectCustom(bgColor, brandColor)
