svg(width='0', height='0')
  defs
    filter#goo
      feGaussianblur/(in='SourceGraphic', result='blur', stdDeviation='10')
      feColormatrix/(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7', result='goo')
      feComposite/(in='SourceGraphic', in2='goo', operator='atop')
