@import 'client/styles/*.import'

article[data-role='buttons']
  @import s(basePath, buttonSmall)
  .example.small
    cpButtonSmall(brandColor)
    &.boris
      cpButtonSmallBoris(brandColor)
    &.ivana
      cpButtonSmallIvana(brandColor)
  @import s(basePath, buttonCreative)
  .example.creative
    cpButtonCreative(bgColor, brandColor)
    &.round
      cpButtonCreativeRound(bgColor)
    &.roundwhiten
      cpButtonCreativeRoundWhiten(brandColor)
    &.vertical
      cpButtonCreativeVertical(brandColor)
