@import 'client/styles/*.import'
@import s(basePath, buttonSmall)
@import s(basePath, buttonCreative)
@import s(basePath, buttonInspiration)

figure[data-role='truc']
  background none
  svg
    size 0
  .content
    background none
    -webkit-filter url('#goo')
    //filter url('buttons#goo')
    padding 50px
  .circle1, .circle2
    margin 20px
    size 100px
    border-radius 50%
    background red
    display inline-block
    margin -5px


  figure[data-role='small']
    cpButtonSmall(brandColor)
    &[data-content='boris']
      cpButtonSmallBoris(brandColor)
    &[data-content='ivana']
      cpButtonSmallIvana(brandColor)
  figure[data-role='creative']
    cpButtonCreative(bgColor, brandColor)
    &[data-content='round']
      cpButtonCreativeRound(bgColor)
    &[data-content='roundwhiten']
      cpButtonCreativeRoundWhiten(brandColor)
    &[data-content='vertical']
      cpButtonCreativeVertical(brandColor)
  figure[data-role='inspiration']
    cpButtonInspiration(brandColor)
    &[data-content='tamaya']
      cpButtonInspirationTamaya(brandColor)
    &[data-content='ujarak']
      cpButtonInspirationUjarak(bgColor, brandColor)
    &[data-content='winoma']
      cpButtonInspirationWinoma(bgColor, brandColor)
