@import 'client/styles/*.import'

article[data-role='buttons']
  @import s(basePath, buttonSmall)
  .example.small
    cpButtonSmall(brandColor)
    &.boris
      cpButtonSmallBoris(brandColor)
    &.ivana
      cpButtonSmallIvana(brandColor)
