@import 'client/styles/*.import'

article[data-role='textInputs']
  @import s(basePath, input)
  .example
    cpInput(bgColor, textColor, brandColor)
    &.jiro
      cpInputJiro(textColor, brandColor)
    &.haruki
      padding-top 3em
      cpInputHaruki(textColor, brandColor)
    &.hoshi
      cpInputHoshi(textColor, brandColor)
    &.yoko
      cpInputYoko(textColor, brandColor)
