@import 'client/styles/*.import'

article[data-role='home']
  display flex
  flex-wrap wrap
  height 100%
  background dimgray
  justify-content center
  align-items center
  align-content center
  h1
    width 100%
    text-align center
    color white
    font-weight 100
    font-size 3em
    opacity 0
    animation fadeInDown .8s ease-in-out forwards
    font-family futura
    em
      font-weight 700
      color brandColor
  p
    width 100%
    text-align center
    color white
    font-weight 100
    font-size 1.7em
    opacity 0
    animation fadeInDown .8s .8s ease-in-out forwards
    &:last-child
      font-size 1em
      animation-delay 1.6s

article[data-role='usage']
  @import 'jeet'
  center(maxSize)
