article(data-role='home')
  h1 Creative <em>&</em> Pure
  p A CSS framework for 
    a(href='https://www.meteor.com/', target='_blank') Meteor
  p It provides a set of re-usable widgets from 
    a(href='http://tympanus.net/codrops/', target='_blank') Codrops
    |  articles, <br>all created using 
    a(href='http://stylus-lang.com/', target='_blank') Stylus.

article.wow.fadeInDown(data-role='example')
  h1 A login example
  p.
    This short example demonstrates the ease of creating simple yet
    efficient login forms. Note that the generated HTML is kept at its
    minimal avoiding as much as possible to include CSS classes for
    positionning elements or animating them.
  figure
    form(data-role='redish')
      figcaption Redish login form    
      span.input
        input(type='email', id='username', name='username')
        label(for='username'): span You ID
      span.input
        input(type='password', id='password', name='password')
        label(for='password'): span Your password
      button.small(type='button')
        i.fa.fa-chevron-circle-right.fa-2x
        span Access
    form(data-role='greenish')
      figcaption Greenish login form
      span.input
        input(type='email', id='username', name='username')
        label(for='username'): span You ID
      span.input
        input(type='password', id='password', name='password')
        label(for='password'): span Your password
      button.small(type='button')
        i.fa.fa-sign-in.fa-2x
        span Access
  p.
    Both examples rely on the same principles: a set of Stylus file declaring
    functions that you import only if you need them. Each function can be
    customized with your color theme and some plugins are provided to apply
    specific behaviors. Therefore, the generated CSS is strictly limited to
    the style that you have created and imported. No unused CSS rules.

article.wow.fadeInDown(data-role='usage')
  h1 Usage
  p Add it as a regular package.
  pre: code.bash.
    meteor add pierreeric:creativepure
  p We recommend using the following additional packages:
  pre: code.bash.
    meteor add coffeescript mquandalle:jade mquandalle:stylus fortawesome:fontawesome
  p We now set some global variables in a Stylus file.
  +homeCode
  p And we are ready to GO.
