article(data-role='home')
  h1 Creative pure
  p This Meteor package aims at providing a set of styles that customize raw HTML elements.
  p They are inspired by Codrops articles and are all created using Stylus.
  pre: code.bash.
    meteor add pierreeric:creativepure
  +link
  +textInput
