article(data-role='home')
  h1 Creative & Pure
  p A CSS framework for Meteor.
  p It provides a set of re-usable widgets from Codrops articles, all created using Stylus.

article(data-role='usage')
  pre: code.bash.
    meteor add pierreeric:creativepure
  +link
  +textInput
