@import 'client/styles/*.import'

article[data-role='home']
  display flex
  flex-wrap wrap
  height 100%
  background blackBg
  justify-content center
  align-items center
  align-content center
  h1
    width 100%
    text-align center
    color white
    font-weight 100
    font-size 3em
    opacity 0
    animation fadeInDown .8s ease-in-out forwards
    font-family secondFont
    em
      font-weight 700
      color brandColor
  p
    width 100%
    text-align center
    color white
    font-weight 100
    font-size 1.7em
    opacity 0
    animation fadeInDown .8s .8s ease-in-out forwards
    &:last-child
      font-size 1em
      animation-delay 1.6s

@import s(basePath, input)
@import s(basePath, buttonSmall)

redish = #9d0c0c
greenish = #43903b

article[data-role='usage']
  figure
    display flex
    justify-content space-between
    figcaption
      margin-bottom 1em
    form
      background white
      border-radius roundCorner
      max-width 400px
      padding 1em
      &[data-role='redish']
        cpInput(white, darken(redish, 30%), redish)
        cpInputJiro(darken(redish, 30%), redish)
        cpButtonSmall(redish)
        cpButtonSmallBoris(redish)
        background lighten(redish, 70%)
        border 1px solid redish
        >span:first-of-type
          margin-top 1em
          width 100%
        >span:last-of-type
          width calc(100% - 3.4em)
          margin-bottom 1.5em
        button.small
          margin 1.4em 0 0 .5em
      &[data-role='greenish']
        cpInput(white, darken(greenish, 30%), greenish)
        cpInputYoko(white, greenish)
        cpButtonSmall(greenish)
        cpButtonSmallIvana(greenish)
        background lighten(greenish, 70%)
        border 1px solid greenish
        >span:first-of-type
          margin-top 0
          width 100%
        >span:last-of-type
          width calc(100% - 3.4em)
          margin 1em 0 0 0
        button.small
          margin .8em 0 0 .5em
