@import 'client/styles/breakpoints.import'

fontSize()
  font-size 11px
  +above('small')
    font-size @font-size + 1
  +above('medium')
    font-size @font-size + 2
  +above('desktop')
    font-size @font-size + 3
  +above('hd')
    font-size @font-size + 4
