@import 'client/styles/*.import'

pre
  pre()
  font-size .8em
  border-radius roundCorner
  background #282B2E
  color bgColor

.example
  border-radius roundCorner
  border 1px solid textColor
  padding 1em

@import '.meteor/local/build/programs/web.browser/packages/pierreeric_creativepure/styles/main'
@import '.meteor/local/build/programs/web.browser/packages/pierreeric_creativepure/styles/animate'


cpInput(bgColor, textColor, brandColor)
cpInputJiro(defaultTransitionValue, textColor, brandColor)


@import '.meteor/local/build/programs/web.browser/packages/pierreeric_creativepure/styles/ironprogress'
