@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/styles/*.import'

typographic()

@import s(basePath, main)
@import s(basePath, ironprogress)
@import s(basePath, links)

body
  background blackBg

section
  background bgColor

pre
  pre()
  font-size .8em
  line-height 1em
  border-radius roundCorner
  background #282B2E
  color bgColor

h1 small
  color lighten(brandColor, 30%)
  font-size .6em
  font-style italic

figure
  border-radius roundCorner
  border 1px solid textColor
  padding 1em

article:not([data-role='home'])
  center(maxSize)
  margin-top 3em

p, blockquote
  cpLinks(brandColor)

.fa-warning
  color brandWarning
