@import 'client/styles/*.import'
@import 'jeet'

@import s(basePath, main)
@import s(basePath, animate)
@import s(basePath, ironprogress)

pre
  pre()
  font-size .8em
  line-height 1em
  border-radius roundCorner
  background #282B2E
  color bgColor

.example
  border-radius roundCorner
  border 1px solid textColor
  padding 1em

@import s(basePath, links)
cpLinks(brandColor, defaultTransitionValue)

@import s(basePath, input)
cpInput(bgColor, textColor, brandColor)
cpInputJiro(defaultTransitionValue, textColor, brandColor)

article:not([data-role='home'])
  center(maxSize)
  &:not([data-role='usage'])
    margin-top 3em
    animation fadeInDown .8s ease-in-out
