@import 'client/styles/*.import'

article[data-role='loader']
  @import s(basePath, loader)
  figure
    >div:nth-child(1)
      display flex
      flex-wrap wrap
      justify-content space-around
      text-align center
      >div
        display inline-block
        &:nth-child(1)
          cpLoaderFade(brandColor, bgColor, 3em)
        &:nth-child(2)
          cpLoaderFade(red, bgColor, 3em)
        &:nth-child(3)
          cpLoaderFade(green, bgColor, 3em)
    >div:nth-child(2)
      display flex
      flex-wrap wrap
      justify-content space-around
      >div
        size 11em 6em
        margin .5em
        padding .5em
        border 1px solid brandColor
        border-radius roundCorner
        >span
          font-weight bold
          display block
          width 100%
        >div
          display block
          width 100%
          margin auto auto
        .loader-round-fading
          cpLoaderFade(brandColor, bgColor, 3em)
        .loader-3-squares
          margin-top .5em
          cpLoaderThreeSquares(brandColor, 3em)
        .loader-round-async
          cpRoundAsync(brandColor, bgColor, 3em)

article[data-role='goo']
  @import s(basePath, goo)
  figure
    text-align center
    .menu
      cpGoo()
      display inline-block
      size 25em 4em
      padding .5em
      //background green
    .item
      margin 0 .7em
      size 3em
      border-radius 50%
      background brandColor
      display inline-block
      transition background-color defaultTransitionValue
      relative top left
      animation anim-plus 2s linear infinite alternate
      z-index 1
      >span
        text-align center
        margin-top 1em
        size @width 1em
        color bgColor
        transition color defaultTransitionValue
      &:hover
        background darken(brandColor, 20%)
        >span
          color lighten(bgColor, 20%)
      &.twitter
        animation-name anim-twitter
      &.facebook
        animation-name anim-facebook
      &.weibo
        animation-name anim-weibo
      &.pinterest
        animation-name anim-pinterest
      &.plus
        z-index 3
@keyframes anim-twitter
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(4.2em, 0, 0)
  to
    transform translate3d(8.5em, 0, 0)
@keyframes anim-facebook
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(4.2em, 0, 0)
  to
    transform translate3d(4.2em, 0, 0)
@keyframes anim-weibo
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(-4.2em, 0, 0)
  to
    transform translate3d(-4.2em, 0, 0)
@keyframes anim-pinterest
  0%
    transform none
  10%
    transform none
  50%
    transform translate3d(-4.2em, 0, 0)
  to
    transform translate3d(-8.5em, 0, 0)
@keyframes anim-plus
  0%
    transform rotateZ(45deg)
  90%
    transform rotateZ(45deg)
  to
    transform none

@import s(basePath, dotStyle)

article[data-role='dot-style']
  figure
    background brandDanger
    cpDotStyle(bgColor)
    text-align center
    ul
    p
      margin-top 0
      color bgColor
    &.fillup
      cpDotStyleFillup(brandColor, bgColor)
    &.scaleup
      cpDotStyleScaleup(brandColor, bgColor)
    &.stroke
      cpDotStyleStroke(brandColor, bgColor)
