// Excepts from https://github.com/slang800/animate-stylus
delayedAnimation()
  opacity 0
  animation-timing-function ease-out
  animation-duration .8s
  animation-delay .2s
  animation-fill-mode forwards

defaultAnimation()
  animation-timing-function ease-out
  animation-duration .3s

longAnimation()
  animation-timing-function ease-out
  animation-duration .8s

@keyframes fadeInDown
  0%
    opacity 0
    transform translate3d(0, -20px, 0)
  100%
    opacity 1
    transform none

@keyframes fadeInRight
  0%
    opacity 0
    transform translate3d(20px, 0, 0)
  100%
    opacity 1
    transform none
.fadeInRight
  animation-name fadeInRight
  longAnimation()

@keyframes fadeOutLeft
  0%
    opacity 1
    transform none
  100%
    opacity 0
    transform translate3d(20px, 0, 0)
.fadeOutLeft
  animation-name fadeOutLeft
  animation-fill-mode forwards
  longAnimation()

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
.fadeIn
  animation-name fadeIn
  longAnimation()

@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0
.fadeOut
  animation-name fadeOut
  longAnimation()

@keyframes shake
  0%, 100%
    transform none
  10%, 30%, 50%, 70%, 90%
    transform translate3d(-10px, 0, 0)
  20%, 40%, 60%, 80%
    transform translate3d(10px, 0, 0)
.shake
  animation-name shake
  longAnimation()
