defaultTransitionValue = .3s ease-out

delayedAnimation()
  opacity 0
  animation-name fadeInDown
  animation-timing-function ease-out
  animation-duration .8s
  animation-delay .2s
  animation-fill-mode forwards

defaultAnimation()
  animation-timing-function ease-out
  animation-duration .3s

longAnimation()
  animation-timing-function ease-out
  animation-duration .8s
