cpButtonMorphOverlay(bgColor)
  .morph-button
    position relative
    & > button
      position relative
    &.open
      & > button
        pointer-events none
      .morph-content
        pointer-events auto

  .morph-content
    pointer-events none

  .morph-button-fixed, .morph-button-fixed .morph-content
    size 300px 80px

  .morph-button-fixed
    & > button
      z-index 10
      size 100%
      transition opacity 0.1s 0.5s
      // font-size 75%
    &.open
      & > button
        opacity 0
        transition opacity 0.1s
      .morph-content
        opacity 1
        & > div
          visibility visible
          height auto
          opacity 1
          transition opacity 0.3s 0.5s
    .morph-content
      position fixed
      z-index 9
      opacity 0
      transition opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s
      & > div
        visibility hidden
        height 0
        opacity 0
        transition opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s
    &.active
      & > button
        z-index 102
      .morph-content
        z-index 101

  .morph-button-overlay .morph-content
    transition opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s

  .morph-button-overlay.open .morph-content
    transition width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s

  .morph-button-overlay
    .morph-content
      overflow hidden
      background bgColor
    &.open
      .morph-content
        top 0 !important
        left @top
        size 100%
    &.scroll
      .morph-content
        overflow-y scroll

  .morph-button .morph-content, .morph-button.open .morph-content, .morph-button-modal-4 .morph-clone
    transition-timing-function cubic-bezier(0.7,0,0.3,1)
