// http://tympanus.net/codrops/?p=23217
@import 'nib'
@import '/client/styles/*.import'

button.small
  position relative
  display inline-block
  margin 1em
  padding 0
  border none
  background none
  color brandColor
  font-size 1.4em
  overflow visible
  transition color .7s ease-out
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

  &.clicked, &:focus
    outline none
    color lighten(brandColor, 30%)

  >i
    display: block

  >span
    position absolute
    opacity 0
    pointer-events none

  &::after
    absolute top 50% left 50%
    size buttonSmallSize
    margin (-(buttonSmallSize/2)) 0 0 (-(buttonSmallSize/2))
    border-radius 50%
    content ''
    opacity 0
    pointer-events none

@import '/client/styles/button-small-plugins/ivana.import'
