// http://tympanus.net/codrops/2013/06/13/creative-button-styles/
@import 'nib'
@import '/client/styles/*.import'

button.creative
  border none
  cursor pointer
  display inline-block
  margin-top 1.5em
  letter-spacing 1px
  font-weight 700
  outline none
  position relative
  transition all defaultTransitionValue
  background brandColor
  color bgColor
  &:hover
    background darken(@background, 20%)
  &:active, &:focus
    background darken(@background, 30%)
  &:active
    top 2px
  &::after
    content ''
    position absolute
    z-index -1
    transition all defaultTransitionValue

  &::before
    font-family FontAwesome
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    position relative
    transition all defaultTransitionValue
    absolute top left
    size 60px 100%
    font-size 140%
    line-height 3

button[data-role='connect'].creative
  &::before
    content '\f090'
button[data-role='disconnect'].creative
  &::before
    content '\f08b'
button[data-role='add'].creative
  &::before
    content '\f055'
button[data-role='remove'].creative
  &::before
    content '\f1f8'
button[data-role='validate'].creative
  &::before
    content '\f00c'
button[data-role='modify'].creative
  &::before
    content '\f040'
button[data-role='user'].creative
  &::before
    content '\f007'
button[data-role='doctor'].creative
  &::before
    content '\f0f0'

@import '/client/styles/button-creative/roundWhiten.import'
