brandColor = #63319a
textColor = darken(brandColor, 70%)
bgColor = lighten(brandColor, 90%)

brandPrimary =  brandColor
brandDanger =   hsl(0, saturation(brandColor),lightness(brandColor))
brandWarning =  hsl(45, saturation(brandColor),lightness(brandColor))
brandSuccess =  hsl(120, saturation(brandColor),lightness(brandColor))
brandInfo =     hsl(240, saturation(brandColor),lightness(brandColor))
