cpDotStyle(bgColor)
  ul
    position relative
    display inline-block
    margin 0
    padding 0
    list-style none
    cursor default
    -webkit-touch-callout none
    user-select none
    >li
      position relative
      display block
      float left
      size 16px
      margin 0 @width
      cursor pointer
      a
        absolute top left
        size 100%
        outline none
        border-radius 50%
        background-color bgColor
        text-indent -999em
        cursor pointer
        &:focus, &:active
          outline none

cpDotStyleFillup(brandColor, bgColor)
  ul
    >li
      a
        overflow hidden
        background-color rgba(black, 0)
        box-shadow inset 0 0 0 2px rgba(white, 1)
        transition background defaultTransitionValue
        &::after
          content ''
          absolute bottom left
          size 100% 0
          background-color white
          box-shadow 0 0 1px white
          transition height defaultTransitionValue
        &:hover, &:focus
          background-color rgba(black, .2)
      &.active
        a::after
          height 100%

cpDotStyleScaleup(brandColor, bgColor)
  ul
    >li
      a
        transition transform defaultTransitionValue, background-color defaultTransitionValue
        &:hover, &:focus
          background-color lighten(brandColor, 30%)
      &:active
        a
          background-color brandColor
          transform scale3d(1.5, 1.5, 1)
