@import 'jeet'
@import '/client/styles/*.import'

// input, button
//   margin-top 1.5em
//   box-sizing border-box
//   outline none
//   border none
//   transition all defaultTransitionValue
//   &:focus, &:active
//     box-shadow 0 2px 0 lighten(brandColor, 50%)
// input
//   background-color bgColor
//   border-bottom 1px solid brandColor
//   &::placeholder
//     transition color defaultTransitionValue
//     color brandColor
//   &:focus::placeholder
//     color lighten(brandColor, 50%)
// button
//   button()
//   transition all defaultTransitionValue
//   hover-darken()
//   color bgColor !important
//   background-color brandPrimary
//   margin-top 2em
//   border 1px solid brandColor
//   position relative
//   display inline-block
//   padding-left 65px
//   &:focus
//     color bgColor
//     background-color brandPrimary
//   &:before
//     absolute top left
//     padding 0
//     line-height 180%
//     font-size 140%
//     size 45px 100%
//     color brandColor
//     background-color lighten(@color, 50%)
//     border-top-left-radius roundCorner - 1px
//     border-bottom-left-radius @border-top-left-radius
//     font-family FontAwesome
//     content '\f08b'
//     transition all defaultTransitionValue
//   &:hover
//     transition all defaultTransitionValue
//     border 1px solid darken(brandColor, 30%)
//     &:before
//       transition all defaultTransitionValue
//       width 55px
//       color darken(brandColor, 30%)
// form
//   .form-group
//     margin-bottom 1em
//     field()
//     column()
//     label, input, span.help-block
//       column(1/3)
//       transition all defaultTransitionValue
//     label
//       text-align right
//     input:first-child
//       shift(1/3)
//   .has-error
//     label, span.help-block
//       transition all defaultTransitionValue
//       color brandDanger
//
//   .panel
//     margin-bottom 1em
//     column()
//     border-radius roundCorner
//     border 1px solid brandPrimary
//     margin-bottom 5px
//     div.panel-heading
//       column()
//       background-color brandColor
//       color bgColor
//       padding 5px
//       margin-bottom 5px
//     .panel-body
//       margin-top 5px
//       padding 5px
//     ul
//       inline-list()
//       padding 5px
//       li
//         column()
//     button
//       padding .6em
//       width 40px
//       margin-right 1em
//       &:before, &:hover:before
//         text-align center
//         width @width - 2px
//         line-height 1.2em
//         font-size 1em
//         color bgColor
//         background-color brandColor
//         border-radius roundCorner
//       &:hover:before
//         background-color darken(brandColor, 30%)
//     button.autoform-add-item
//       background-color brandSuccess
//       border 1px solid @background-color
//       &:before
//         background-color @background-color
//         content '\f055'
//       &:hover
//         background-color darken(@background-color, 30%)
//         border 1px solid @background-color
//         &:before
//           background-color @background-color
//
//     button.autoform-remove-item
//       background-color brandDanger
//       border 1px solid @background-color
//       &:before
//         background-color @background-color
//         content '\f014'
//       &:hover
//         background-color darken(@background-color, 30%)
//         border 1px solid @background-color
//         &:before
//           background-color @background-color
//
//   button.add
//     &:before
//       content '\f055'
//
//   button.modify
//     &:before
//       content '\f00c'
