cpLinks(brandColor, defaultTransitionValue)
  a
    outline none
    text-decoration none
    font-weight bold
    color brandColor
    position relative
    display inline-block
    padding 0

    &:focus
      outline none

    &::after
      absolute bottom left
      size 100% 1px
      background brandColor
      content ''
      opacity 0
      transition height defaultTransitionValue, opacity defaultTransitionValue, transform defaultTransitionValue
      transform translateY(10px)

    &:hover::after, &:focus::after
      height 2px
      border-radius @height
      opacity 1
      transform none
