cpLoaderThreeBars(brandColor, loaderSize=5em)
  background brandColor
  animation cp-loader-3-square 1s infinite ease-in-out
  size loaderSize*.2 loaderSize*.8
  position relative
  transform translateZ(0)
  animation cp-loader-3-squares 1s infinite ease-in-out
  animation-delay -0.16s
  border-radius 1em
  &:before, &:after
    background brandColor
    animation cp-loader-3-squares 1s infinite ease-in-out
    size loaderSize*.2 loaderSize*.8
    absolute top
    content ''
    border-radius 1em
  &:before
    left -(loaderSize*.3)
    animation-delay 2*@animation-delay
  &:after
    left loaderSize*.3
  @keyframes cp-loader-3-squares
    0%, 80%, 100%
      transform scaleY(0.75)
    40%
      transform scaleY(1.25)

cpLoaderRoundAsync(brandColor, bgColor, loaderSize=5em)
  position relative
  size loaderSize
  border-radius 50%
  box-shadow inset 0 0 0 (loaderSize*.1) brandColor
  transform translateZ(0)
  &:before, &:after
    content ''
    size loaderSize*0.52 loaderSize*1.02
  &:before
    background bgColor
    border-radius (loaderSize*1.02) 0 0 (loaderSize*1.02)
    absolute top -(loaderSize*.01) left -(loaderSize*.01)
    transform-origin (loaderSize*.52) (loaderSize*.51)
    animation cp-loader-roundasync-anim 2s infinite ease 1.5s
  &:after
    background bgColor
    border-radius 0 (loaderSize*1.02) (loaderSize*1.02) 0
    absolute top -(loaderSize*.01) left (loaderSize*.51)
    transform-origin 0 (loaderSize*.51)
    animation cp-loader-roundasync-anim 2s infinite ease
  @keyframes cp-loader-roundasync-anim
    0%
      transform none
    to
      transform rotate(360deg)

cpLoaderFade(brandColor, bgColor, loaderSize=5em)
  size loaderSize
  border-radius 50%
  background brandColor
  background linear-gradient(to right, brandColor 30%, rgba(brandColor, 0) 60%)
  position relative
  animation cp-loader-fade-anim 1.4s infinite linear
  transform translateZ(0)
  &:before
    size 50%
    background brandColor
    border-radius 100% 0 0 0
    absolute top left
    content ''
  &:after
    background bgColor
    size 75%
    border-radius 50%
    content ''
    margin auto
    absolute top left
    bottom 0
    right 0
  @keyframes cp-loader-fade-anim
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)

cpLoaderBouncingSquare(brandColor, bgColor, loaderSize=5em)
  display inline-block
  size loaderSize
  relative top left 40%
  &:after
    content ''
    size .7*loaderSize
    background brandColor
    animation cp-loader-bouncing-square .5s linear infinite
    absolute top left
    border-radius .05*loaderSize
  &:before
    content ''
    size .7*loaderSize .1*loaderSize
    background darken(bgColor, 20%)
    animation cp-loader-bouncing-square-shadow .5s linear infinite
    absolute bottom left
    border-radius 50%
  @keyframes cp-loader-bouncing-square
    17%
      border-bottom-right-radius .1*loaderSize
    25%
      transform translateY(.1*loaderSize) rotateZ(22.5deg)
    50%
      transform scaleY(.9) translateY(.2*loaderSize) rotateZ(45deg)
      border-bottom-right-radius 40px
    75%
      transform translateY(.3*loaderSize) rotateZ(67.5deg)
    100%
      transform translateY(0) rotateZ(90deg)
  @keyframes cp-loader-bouncing-square-shadow
    50%
      transform scaleX(1.2)
